<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Uranium.Data.NH\packages.config" />
  <repository path="..\src\Uranium.Core\packages.config" />
  <repository path="..\src\Uranium.Mvc\packages.config" />
  <repository path="..\src\MvcApplication1\packages.config" />
  <repository path="..\src\ConsoleApplication1\packages.config" />
</repositories>